
.emp-main-container{
    padding: 2rem;
    max-width: 100rem;
}
.table-container-emp{
    width: 100%;
}

.emp-main-container table{
    border-bottom: solid;
    border-color: #9e9d9d;
    border-width: 0.1rem;
    width: 100%;
    border-spacing: 0;
    padding-top: 2rem;
    
}
.base-container-emp{
    display: flex;

}  


.emp-main-container table th{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 1rem;
    font-weight: 700;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: #9e9d9d;
    background-color: rgb(224, 242, 253);
    
}

.emp-main-container table th:first-child{
    border-top-left-radius: 0.8rem;
}
.emp-main-container table th:last-child{
    border-top-right-radius: 0.8rem;
}

.emp-main-container table td{
    padding: 8px;
    padding: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 0.1rem;
    font-weight: 550;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: #d6d3d3;
}
.emp-main-container select{
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}
.role{
    display: flex;
    justify-content: left;
    align-self: center;
    

}
.station-master{  
    background-color: rgb(210, 255, 211);
    width: fit-content;
    border: solid;
    border-color: hsl(114, 100%, 50%);
    border-width: 0.2rem;
    align-self: center;
    padding: 0.2rem;
    border-radius: 0.8rem;  
}
.general-staff{
        background-color: rgb(249, 221, 183);
        border: solid rgb(255, 149, 0) ;
        border-width: 3px;
        width: fit-content;
        align-self: center;
        padding: 0.2rem;
        padding-right: 1rem;
        border-radius: 0.8rem;        
    
}

/* option container properties*/

.emp-option-container{
    min-width: 5rem;
    
}
.emp-option-container > div:first-child{ 
    display: flex;
    flex-direction: column;
}
.emp-option-container select{
    width: 8rem;
    background-color: #f9f9f9;
    border-radius: 0.4rem;
    box-shadow :0px 1px 4px 0px #9f9e9e;


    
}

.emp-option-container li{
    list-style: none;
    align-self: center;
}
.emp-option-container ul{
    display: flex;
    align-items: center;

}
.emp-option-container span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    align-self: center;
}
.emp-option-container h4{
    color: #807f7f;
    font-size: 0.8rem;
    padding: 0 0.4rem;
}
.emp-option-container img{
    width: 1rem;
    height: 1rem;
}
.emp-count-container div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center ;
    
}
.emp-count-container span{
    padding: 0 ;
}
.emp-count-container{
    width: 11rem;
    box-shadow: 0 1px 5px 0 #9e9d9d;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

@media (max-width:1300px){
    .emp-option-container > div:first-child{ 
        position: relative;
    }
}

/** head bar*/

.headbar-emp{
    display: flex;
    align-items: center;
}