.dashbord-main-container > div:first-child {
   
   display: flex;
   background-color: #f3f6ff;
}

.nav-drawer{
    width: 15rem;
    background-color: #ffffff;
    box-shadow: 1px 0 0.3rem 0 #b2b2b2;
    min-height: 100vh;
    position: fixed;
    
}
.dashbord-content{
    flex-grow: 1;
    margin-left:15rem ;
  
}

.nav-drawer li{
    padding-left: 10px;
    background-color: #d7e8fd;
    margin-top: 1.4rem;
    box-shadow: 0 1px 0.3rem 0 #449ce4;
    padding: 0.3rem;
    padding-left: 1rem;
    text-decoration: none;
    border-radius: 0.3rem;
    color: rgb(16, 1, 43);
    font-weight: 400;

    
}
.nav-drawer ul{
  
    list-style-type: none;
    padding: 0;
    padding-right: 1rem;
    padding-left: 0.5rem;
     
}
.nav-drawer span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 0.3rem;
    padding-left: 0.8rem;
    color: #a1a1a1;

}

.nav-drawer-links-1{
    text-decoration: none;
}

.nav-drawer li:hover{
    background-color: #81c5fd;
}
.nav-drawer li.active{
    background-color: #449ce4;
}
.nav-drawer-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.5rem;
    color: #184971;
    display: flex;
    
    gap: 1rem;
    align-items: center;
}
.nav-drawer-header img{
    width:2rem;
    height: 2rem;
}