.search-bar-cont-emp{
    display: flex;
    height: 1.5rem;
    box-shadow: 0 2px 4px 0 #b7b7b7;
    border-radius: 0.5rem;
    background-color: #ffffff;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 40%;
}

.search-bar-cont-emp input{
    flex-grow: 1;
    border-style: none ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar-cont-emp input:focus{
    outline: none;
}
.search-bar-cont-emp img{
    width: 1.5rem;
    height: 1.5rem;
}